{# Display a facet elements as jQuery UI slider #}

{% set facet_selector_class = facet.id %}

{% include template_css with {'plugin_dir_url': plugin_dir_url} %}
{% include template_js with {'plugin_dir_url': plugin_dir_url, 'facet_selector_class': facet_selector_class} %}

<ul class="wpsolr_any_facet_class {{ facet_selector_class }}">

    <li>
        <span>{{ facets_title|format(facet.name) }}</span> {# Facet name #}

        <ul>


            {% for item in items %} {# Loop on facet items #}

                {% set data_wpsolr_facet = {'facet_id': facet.id, 'facet_label': item.label,'facet_value': item.min_value, 'range_sup': item.max_value, 'facet_step': item.step} %}

                <li>
                    <div id="slider" data-wpsolr-facet-item-value="{{ data_wpsolr_facet|json_encode }}"></div>
                    <div>{{ item.label }}</div>
                </li>


            {% endfor %} {# Loop on facet items #}

        </ul>

    </li>

</ul>

