{% set facet_selector_class = facet.id %}
{% set facet_selected_class = "checked" %}

{% include template_css with {'plugin_dir_url': plugin_dir_url} %}
{% include template_js with {'plugin_dir_url': plugin_dir_url, 'facet_selector_class': facet_selector_class} %}


<option value="{{ sort.id }}" {{ sort.selected ? "selected" : "" }}> {# Sort item value #}
    {{ sort.name }} {# Sort item name #}
</option>


